body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table tr:hover {
  background-color: #f8f9fa !important;
  cursor: pointer;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
